<div class="table-container">
  <div class="header-row">
    <h2>Complaints</h2>

    <div *ngIf="isAuthenticated">
      <button mat-raised-button color="primary" (click)="openDialog()">
        Add Complaint
      </button>
    </div>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!isAuthenticated">
    <button
      mat-raised-button
      color="primary"
      (click)="authService.redirectToLogin()"
    >
      Log In
    </button>
  </div>

  <div *ngIf="isAuthenticated">
    <table mat-table [dataSource]="complaints" class="mat-elevation-z8">
      <!-- Your mat-table columns and rows here -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let complaint">{{ complaint.id }}</td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Customer</th>
        <td mat-cell *matCellDef="let complaint">
          {{ complaint.customer?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="complaintType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let complaint">
          {{ complaint.complaintType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="complaintStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let complaint">
          {{ complaint.complaintStatus }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let complaint">
          {{ complaint.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let complaint">
          <button
            mat-icon-button
            class="icon-edit"
            (click)="openDialog(complaint)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="icon-delete"
            (click)="deleteComplaint(complaint.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *ngIf="complaints.data.length === 0">
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          No complaints available
        </td>
      </tr>
    </table>
  </div>
</div>
