<mat-toolbar color="primary">
  <span>Sphynx</span>
  <span class="spacer"></span>
  <div class="user-info" *ngIf="isAuthenticated$ | async; else loginButton">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="welcome-text">
      Welcome,
      {{
        (user$ | async)?.name ||
          (user$ | async)?.username ||
          (user$ | async)?.email
      }}
    </span>
    <button mat-stroked-button (click)="logout()">Logout</button>
  </div>
  <ng-template #loginButton>
    <button mat-stroked-button (click)="login()">Login</button>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    opened
    [fixedInViewport]="true"
    fixedTopGap="64"
    *ngIf="isAuthenticated$ | async"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/customers" routerLinkActive="active"
        >Customers</a
      >
      <a mat-list-item routerLink="/complaints" routerLinkActive="active"
        >Complaints</a
      >
      <a mat-list-item routerLink="/orders" routerLinkActive="active">Orders</a>
      <a mat-list-item routerLink="/profiles" routerLinkActive="active"
        >Profiles</a
      >
      <a mat-list-item routerLink="/prospects" routerLinkActive="active"
        >Prospects</a
      >
      <a mat-list-item routerLink="/prospections" routerLinkActive="active"
        >Prospections</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
